<div class="span12 image-meta" style="height:64px;">
	<!-- 64 for image height -->
<span class="span2">
<img ng-src="{{getImage(result).url}}">
</span>
<ul class="span4">
<li   ng-show="getImage(result).exif.model"><em>Model:</em>{{getImage(result).exif.model}}</li>
<li   ng-show="getImage(result).exif.model"><em>Model:</em>{{getImage(result).exif.model}}</li>
<li  ng-show="getImage(result).exif.model"><em>Model:</em>{{getImage(result).exif.model}}</li>
</ul>
<span  class="span3">FileType:image</span>


</div>