
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="navbar-container container-fluids">
        <span class="brand">          FIT <span class="label ">beta</span>
        </span>

        <ul class="nav">
          <li id="menu-home" class="active"><a href="home">Home</a></li>
        </ul>
      </div>

      <ul  id="loginDropdownGroup" class="pull-right  nav nav-pills">
        <li id="loginDropdownList" class="dropdown">
          <a id="loginDropdownButton" class="dropdown-toggle"
          data-toggle="dropdown"
          href="#">
          Sign Up / Login
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu dropdown-menu-large">

                <li> <a id="authDropbox" href="#"><i class="icon-dropbox cloudService"></i></a> </li>

                  <!-- <a href="/oauth/dropbox" class="btn btn-primary connect-dropbox"><img src="/images/glyphicons_381_dropbox.png" />Connect With Dropbox</a></div></li>
 -->
        </ul>
      </li>
    </ul>


    <!-- <img src="images/glyphicons_391_evernote.png" /> -->
      <!--  <form class="navbar-search pull-right">
          <input type="text" class="search-query" placeholder="Search">
        </form> -->
      </div>
    </div>
  </div>
