<html>
<head>
<title>Mungo - More Sales ,More Money, More Time</title> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
<meta name="title" content="Mungo - More Sales ,More Money, More Time"> 
<meta name="description" content="Wanna Cash in your stuff?"> 
<meta name="keywords" content=""> 
<meta property="og:title" content="Mungo - More Sales ,More Money, More Time"> 
<meta property="og:type" content="company"> 
<meta property="og:site_name" content="Mungo - More Sales ,More Money, More Time"> 
<meta property="og:description" content="Share on FB">
<meta property="og:url" content="http://m3bonzbc.launchrock.co">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:image" content="https://launchrock-assets.s3.amazonaws.com/facebook-files/M4XR4NGD_1383456263664.webp?_=0">
  <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
<style type="text/css"></style><script src="http://launchrock-assetmanager.s3.amazonaws.com/asset_245346_custthm.js"></script><link rel="stylesheet" type="text/css" href="http://m3bonzbc.launchrock.co/themes/mobile_app/mobile_app.css"><link rel="stylesheet" type="text/css" href="http://m3bonzbc.launchrock.co/themes/mobile_app/mobile_app-mobile.css" media="only screen and (min-device-width : 320px) and (max-device-width : 480px)"><link rel="stylesheet" type="text/css" href="http://launchrock-assetmanager.s3.amazonaws.com/asset_245346_custthm.css"><link rel="shortcut icon" href="https://launchrock-assets.s3.amazonaws.com/favicon-files/site-default.ico"></head>
<body> 

  <!-- Begin LaunchRock Widget -->
  <div id="lr-widget" rel="M4XR4NGD">
<link href="http://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" type="text/css">

	<div id="content" class="LR-content LR-site-bg-color-container" style="background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;"><!--  LR-sharing-page LR-stats LR-lx -->
		<div class="LR-announcement-bar LR-announcement-bg-color-container" style="background-color: rgb(0, 0, 0); background-position: initial initial; background-repeat: initial initial;">
			<h4 class="LR-announcement">Mungo is featured in Startup Weekend Hong Kong 2013 !</h4>
		</div><!-- .announcementBar -->
		<div class="LR-box-wrapper">
			<div class="LR-box-shadow"></div>
			<div class="LR-box-container">	
					<div class="LR-site-title-wrapper">
						<h1 class="LR-site-title">Mungo</h1>
						<div class="LR-site-logo" style="display: none;"><img src=""></div>
					</div>
					<div class="LR-box-devices LR-iphoneFront">
						<div class="LR-deviceOne-wrapper">
							<div class="LR-deviceOne"></div>
							<div class="LR-deviceOneImg"><img src="https://launchrock-assets.s3.amazonaws.com/background-files/M4XR4NGD_1383452839999.webp?_=1" alt="Screen Image"></div>
						</div>
						<div class="LR-deviceTwo-wrapper">
							<div class="LR-deviceTwo"></div>
							<div class="LR-deviceTwoImg"><img src="https://launchrock-assets.s3.amazonaws.com/background-files/M4XR4NGD_1383453039310.webp?_=0" alt="Screen Image"></div>
						</div>
					</div><!-- .LR-box-devices -->
					<div class="LR-box-left">
						<div class="LR-sign-up LR-clearfix">
						<h2 class="LR-site-tagline varela-round">More Sales ,More Money, More Time</h2>
						<div class="LR-site-description varela-round"><p>
Wanna Cash in your stuff?
</p></div><!-- .site-description -->
						<span class="LR-sign-up-label" style="display: none;">Enter your college .edu email address</span>
						<div class="LR-sign-up-container"><!--  .LR-extra-fields -->
							<div class="LR-sign-up-container-inner LR-clearfix">
								<input type="email" class="LR-sign-up-input signup-email" placeholder="Enter your .edu address">
								<input type="text" class="LR-sign-up-input first-name half" placeholder="first name" style="display: none;">
								<input type="text" class="LR-sign-up-input last-name half" placeholder="last name" style="display: none;">
								<input type="text" class="LR-sign-up-input company" placeholder="company" style="display: none;">
								<input type="tel" class="LR-sign-up-input phone-number half" placeholder="phone number" style="display: none;">
								<input type="text" class="LR-sign-up-input zipcode half" placeholder="zipcode" style="display: none;">
								<input type="text" class="LR-sign-up-input birthdate half" placeholder="birthdate mm/dd/yy" style="display: none;">
								<input type="submit" name="submit" title="GO" value="GO" class="LR-sign-up-submit">
							</div><!-- .sign-up-container-inner -->
						</div><!-- .sign-up-container -->
					</div><!-- .sign-up -->			
						<div class="LR-site-share" style="display: none;">
						<div class="LR-site-incentive varela-round" style="display: none;"></div><!-- .site-incentive -->
						<div class="LR-site-share-container">
								<div class="LR-site-social-share">
									<ul class="LR-clearfix">
										<li class="LR-share-facebook-like"></li>
										<li class="LR-share-facebook-send" style="display: none;"></li>
										<li class="LR-share-tweet"></li>
										<li class="LR-share-linkedin" style="display: none;"></li>
										<li class="LR-share-tumblr"></li>
									</ul>
								</div><!-- .site-social-share -->
								<div class="LR-site-share-email LR-clearfix" style="display: none;">
									<div class="LR-share-label varela-round">SHARE BY E-MAIL</div>
									<div class="LR-share-email-inner">
										<div class="LR-email-wrapper">
											<input type="email" class="LR-share-email-emails" placeholder="enter e-mails (comma separated)">
											<div class="LR-share-email-import">import</div>
										</div>
										<div class="LR-share-email-hide" style="display: none;"><!-- LR-share-email-hide -->
											<input type="text" class="LR-share-email-subject" placeholder="Enter your college .edu email address">
											<textarea class="LR-share-email-message" rows="4">email message</textarea>
											<input type="submit" name="submit" title="Send Invitations" value="Send Invitations" class="LR-share-email-send">
										</div><!-- .share-email-hide -->
									</div><!-- .share-email-inner -->
								</div><!-- .site-share-email -->		
								<div class="LR-site-share-link LR-clearfix">
									<span class="LR-share-label varela-round">SHARE THIS LINK</span>
									<span><a href="#" class="LR-share-link" title="SHARE THIS LINK"></a></span>
								</div><!-- .site-share-link -->
								
								<div class="LR-site-live-stats">
									<div class="LR-site-live-stats-container LR-clearfix">
										<span class="LR-share-label varela-round">YOUR LIVE STATS:</span>
										<div class="LR-live-stats-data varela-round">
											<div class="LR-stats-clicks"></div>
											<span class="LR-stats-label">clicks</span>
										</div>
										<div class="LR-live-stats-data signups varela-round">
											<div class="LR-stats-signups"></div>
											<span class="LR-stats-label">signups</span>
										</div>
									</div><!-- .site-live-stats-container -->	
								</div><!-- .site-live-stats -->
								
								<div class="LR-site-connect LR-clearfix">
									<span class="LR-share-label varela-round">FIND US ON</span>
									<ul class="LR-connect-share-links LR-clearfix">
										<li><a href="#" class="LR-connect-icon connect-rss" title="rss" style="display: none;"></a></li>
										<li><a href="#" class="LR-connect-icon connect-github" title="github" style="display: none;"></a></li>
										<li><a href="#" class="LR-connect-icon connect-pinterest" title="pinterest" style="display: none;"></a></li>
										<li><a href="#" class="LR-connect-icon connect-youtube" title="youtube" style="display: none;"></a></li>
										<li><a href="#" class="LR-connect-icon connect-vimeo" title="vimeo" style="display: none;"></a></li>
										<li><a href="#" class="LR-connect-icon connect-instagram" title="instagram" style="display: none;"></a></li>
										<li><a href="#" class="LR-connect-icon connect-tumblr" title="tumblr" style="display: none;"></a></li>
										<li><a href="#" class="LR-connect-icon connect-blog" title="blog" style="display: none;"></a></li>
										<li><a href="#" class="LR-connect-icon connect-facebook" title="facebook"></a></li>
										<li><a href="#" class="LR-connect-icon connect-twitter" title="twitter"></a></li>
									</ul>
								</div><!-- .site-connect -->
								
								<div class="LR-lxWrapper LR-clearfix">
									<div class="LR-lxMssg varela-round">BASED ON THIS SIGN UP, WE THINK YOU'LL LOVE...</div>
									<div class="LR-lxContainer LR-lxCompanyOne">
										<div class="LR-lxBG"></div>
										<span class="LR-lxImg">
											<img src="js/ignition/themes/mobile_app/img/lx.jpg" alt="img">
										</span>
										<div class="LR-lxTxt">
											This is a sample text, written as a placeholder. 60 characters.
										</div>
									</div><!-- .LR-lxContainer -->
									<div class="LR-lxContainer LR-right LR-lxCompanyTwo">
										<div class="LR-lxBG"></div>
										<div class="LR-lxImg">
											<img src="js/ignition/themes/mobile_app/img/lx.jpg" alt="img">
										</div>
										<div class="LR-lxTxt">
											This is a sample text, written as a placeholder. 60 characters.
										</div>
									</div><!-- .LR-lxContainer -->
								</div><!-- .LR-lxWrapper -->
								
						</div><!-- .site-share-container -->	
					</div><!-- .site-share -->	
				</div><!-- .box-left -->
		</div><!-- .box-inner -->
		</div><!-- .box-wrapper -->
		<div class="LR-pwd-lr LR-clearfix">
			<a target="_blank" href="http://discover.launchrock.com?ref=hm"></a>
		</div>
	</div><!-- #content -->	

</div>  
  <script type="text/javascript" src="/ignition-current.min.js"></script>
  <!-- End LaunchRock Widget -->
  
  <!-- Begin ChartBeat Code -->
  <script type="text/javascript">
    var _sf_async_config={uid:32533,domain:"sites.launchrock.com", path:"/m3bonzbc.launchrock.co"};
    
    (function(){
      function loadChartbeat() {
        window._sf_endpt=(new Date()).getTime();
        var e = document.createElement('script');
        e.setAttribute('language', 'javascript');
        e.setAttribute('type', 'text/javascript');
        e.setAttribute('src', (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") + "js/chartbeat.js");
        document.body.appendChild(e);
      }
      
      var oldonload = window.onload;
      window.onload = (typeof window.onload != 'function') ? loadChartbeat : function() { oldonload(); loadChartbeat(); };
    })();
  </script>
  <!-- End ChartBeat Code -->
  
 
 
<script language="javascript" type="text/javascript" src="http://static.chartbeat.com/js/chartbeat.js"></script></body></html>