<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

		<title>FIT UI</title>
		<LINK href="styles/main.css" rel="stylesheet" type="text/css">
		<!-- // <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> -->
	</head>
	<body>
		<div id="main">
			<h1>FIT</h1>
			<form id="search-form" class="navbar-search pull-right" method="get" action="#">
				<input id="search-box" size="80" style="font-size: 32px;" type="text" class="search-query" placeholder="search">
			</form>
			<p></p>
			<p></p>

			<div id="search-result" style=""></div>
		</div>

		<script>

		</script>
	</body>
	 <script data-main="scripts/main" src="bower_components/requirejs/require.js"></script>
</html>
